*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: green;
    gap: 80px 40px;
    /*Esto es lo mismo que el GAP primero va row dsp column  
    column-gap: 40px;
    row-gap: 80px; */
}
.hijo{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: rgb(230, 98,98);
    border: 1px solid black;
}