/* Mobile first - Desktop first 
Depende de la página que voy a diseñar elijo mobile o desktop */

/* Mobile first
Dimension 320 desde inspeccionar en mi página web*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column; /* Para celu siempre va column */
    align-items: center;
}

.padre .hijo{
    width: 80vw;
    height: 200px;
    background-color: red;
}

/* MEDIA QUERIES
Condicional: cuando el ancho de mi pantalla sea mayor a 1000px se ponen estos estilos
Reglas: 
-Las mediaqueries deben estar abajo del todo
-Los elementos que queremos modificar deben tener la misma especificidad o superior a los estilos previos del mismo elemento*/
@media screen and (min-width: 1000px){
    .padre{
        background-color: aqua;
    }
}




